*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* Colors */
  /* ### Primary */
  --softorange: hsl(35, 77%, 62%);
  --softred: hsl(5, 85%, 63%);

  /* ### Neutral */

  --offwhite: hsl(36, 100%, 99%);
  --grayishblue: hsl(233, 8%, 79%);
  --darkgrayishblue: hsl(236, 13%, 42%);
  --verydarkblue: hsl(240, 100%, 5%);
}

body {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  background-color: var(--offwhite);
  line-height: 1.5;
}

li {
  list-style: none;
}

a {
  transition: color 200ms ease-in;
  text-decoration: none;
}

p,
a {
  color: var(--darkgrayishblue);
}

img {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}

nav,
main {
  width: min(1200px, 100vw - 2rem);
  margin-inline: auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 1rem;
}

.hamburger {
  z-index: 100;
  width: 50px;
  height: 50px;
  background-image: url("../images/icon-menu.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.hamburger.open {
  background-image: url("../images/icon-menu-close.svg");
}

.nav--list {
  display: flex;
  gap: 2rem;
}

.nav--list li a:hover {
  color: var(--softred);
}

.overflow {
  position: absolute;
}

@media screen and (width < 600px) {
  .nav--list {
    display: none;
  }
  .nav--list.addnav {
    position: absolute;
    background-color: var(--offwhite);
    width: 70vw;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: all 200ms ease-out;
  }
}

@media screen and (width > 600px) {
  .hamburger {
    display: none;
  }
  .nav--list {
    display: flex;
  }
}

.hero--title {
  font-size: clamp(1.5rem, 5vw, 3.5rem);
  line-height: 1;
  width: 70%;
}

.btn--read {
  background-color: var(--softred);
  text-transform: uppercase;
  padding: 1rem 2rem;
  color: var(--offwhite);
}

.btn--read:hover {
  transform: scale(2);
}

@media screen and (width > 800px) {
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
